<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Become a Loan Agent with DSA 360 Solution, Join us as a Loan DSA agent and earn high commissions. Visit us to know the DSA loan agent registration process."
    />
    <link id="canonical-link" rel="canonical" href="/become-loan-agent" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  </head>

  <body>
    <section class="fix-nav">
      <!--toaster-->
      <div class="sticky-w">
        <div class="sticky toast">
          <div class="container">
            <div class="row">
              <div class="col-md-12 d-flex justfy-content-flex-end">
                <a class="why-us" href="#whyuspage">
                  <div class="d-flex pr-4 padding-right-xs">
                    <img
                      class="pr-2"
                      src="assets/welcome/images/Why%20Us.svg"
                      alt="Why DSA 360 Solution"
                    />
                    Why Us &nbsp; &nbsp;&nbsp;|
                  </div>
                </a>

                <a class="" href="/about-us"
                  ><div class="d-flex pr-4 padding-right-xs">
                    <img
                      class="pr-2"
                      src="assets/welcome/images/About%20Us.svg"
                      alt="About DSA 360 Solution"
                    />About Us &nbsp; &nbsp;&nbsp;|
                  </div></a
                >
                <a href="/#contact-w"
                  ><div class="d-flex">
                    <img
                      class="pr-2"
                      src="assets/welcome/images/Contactus.svg"
                      alt="Contact DSA 360 Solution"
                    />Contact Us
                  </div></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end toaster-->
      <header class="">
        <nav class="navbar navbar-expand-md preLogin navbar-light" id="mainNav">
          <div class="container">
            <!--<div class="left-side-header d-flex align-items-center">-->
            <a class="navbar-brand logo font-weight-bold" href="">
              <span class="logo">
                <img
                  src="assets/images/logos/logo-icon.png"
                  class="img-fluid"
                  style="height: 50px"
                />
              </span>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#responsiveMenu"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!--</div>-->
            <div class="collapse navbar-collapse" id="responsiveMenu">
              <ul class="navbar-nav ml-auto">
                <a href="/auth"
                  ><button
                    class="btn btn-gradient register-button"
                    type="button"
                  >
                    Login
                  </button></a
                >
                &nbsp;

                <a href="/dsa-registeration"
                  ><button
                    class="btn btn-gradient register-button"
                    type="button"
                  >
                    <img
                      class="pr-1"
                      src="assets/welcome/images/Register.svg"
                    />Apply as a DSA
                  </button></a
                >
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>
    <!--call to action-->
    <div class="call-to-action-w">
      <div class="whatsapp-w">
        <a
          href="https://api.whatsapp.com/send?phone=7020192726"
          target="_blank"
          rel="noopener"
          ><button class="btn btn-gradient" type="button">
            <img
              src="assets/welcome/images/whatsapp.svg"
              alt="Be Connected with us on WhatsApp"
            /></button
        ></a>
      </div>

      <div class="btn-w d-flex" align="right" id="formbutton">
        <button class="btn btn-gradient callbtn" type="button">
          <img
            id="svgform"
            src="assets/welcome/images/Request-Call-back.svg"
            alt="Request A Call Back"
          />
        </button>
        <form
          class="call-to-action-form"
          id="request_call_back"
          method="POST"
          action=""
        >
          <p class="title">Request a call back</p>
          <div class="row">
            <input
              type="hidden"
              name="_token"
              value="CyYi6SJWBAqj7BOeiZ2HBzN6LYA2Yvacv9A7TtML"
            />
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Name*"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="tel"
                  class="form-control"
                  name="mobile_number"
                  placeholder="Mobile No.*"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  placeholder="City*"
                />
              </div>
            </div>
            <div class="col-md-12 mauto">
              <button class="btn btn-outline submit" type="submit">
                SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="secwrap" id="open-account-wrap">
      <!-- Become An Insurance Agent :: Starts -->
      <section class="banner-section become-loan-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-5 mt-6">
              <h1 class="banner-title">Become A Loan Agent DSA</h1>
              <p class="subtitle">
                Start your own business and create a lifetime source of income
                with zero risk and zero investment.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Become An Insurance Agent :: Ends -->

      <!-- Wide Range of Loan Offering :: Starts -->
      <section class="loan-offering section-padding light-bg">
        <div class="container">
          <h2 class="section-title">Wide Range of Loan Offering</h2>

          <div class="clearfix">&nbsp;</div>
          <div class="row d-sm-flex justify-content-left theme-round-img">
            <div class="col-md-9 mx-auto">
              <div class="row">
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="home-loan-dsa-agent" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/home-loan-agent.svg"
                          alt="Home Loan Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Home Loan</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="#" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/loan-against-property-agent.svg"
                          alt="Loan Against Property Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Loan Against Property</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="business-loan-dsa" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/business-loan-agent.svg"
                          alt="Business Loan Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Business Loan</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="personal-loan-agent" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/personal-loan-agent.svg"
                          alt="Personal Loan Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Personal Loan</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="#" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/overdraft-facility-agent.svg"
                          alt="Overdraft Facility Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Overdraft Facility</h5>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-6 item">
                  <div class="cardwrap">
                    <a href="#" class="card">
                      <div class="card-img">
                        <img
                          src="assets/welcome/images/loan-against-share-agent.svg"
                          alt="Loan Against Share Agent"
                          class="img-fluid"
                        />
                      </div>
                      <h5 class="card-title">Loan Against Share</h5>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Wide Range of Loan Offering :: Ends -->

      <!-- Benefits Of Becoming A Loan Agent With Us? :: Starts -->
      <section class="subbroker-benefit v2 section-padding has-view-more">
        <div class="container">
          <h2 class="section-title mb-4">
            Benefits Of Becoming A Loan Agent With Us?
          </h2>

          <div class="clearfix"></div>
          <div
            class="row mt-5 d-flex justify-content-left owl-carousel owl-theme"
            id="subbroker"
          >
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Best in Market Commission</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/become-loan-agent-with-high-commission.svg"
                      alt="Become A Loan Agent with High Commission"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Wide Range of Loan Products</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/be-loan-dsa-sell-wide-range-loans.svg"
                      alt="Be A Loan DSA &amp; Sell Wide Range of Loans"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">No Office Space Required</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/no-office-space-required-to-become-loan-dsa.svg"
                      alt="No Office Space Required to Become a Loan DSA"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">No Time Constraints</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/no-time-constraints-to-become-loan-agent.svg"
                      alt="No Time Constraints to Become a Loan Agent"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Potential to Earn for a Lifetime</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/become-loan-partner-earn-lifetime.svg"
                      alt="Become A Loan Partner &amp; Earn for a Lifetime"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Instant Paperless Registration</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/dsa-loan-agent-registration-process-paperless.svg"
                      alt="DSA Loan Agent Registration Process is 100% Paperless"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Zero Deposit</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/become-loan-dsa-oartner-with-zero-deposit.svg"
                      alt="Become a Loan DSA Partner with Zero Deposit"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Digital Lead Process</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/loan-agent-with-digital-lead-process.svg"
                      alt="Loan Agent with Digital Lead Process"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Advance CRM to Track Leads</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/become-loan-dsa-with-advance-crm.svg"
                      alt="Become A Loan DSA with Advance CRM"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Complete Transparency</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/loan-agent-with-complete-transparency.svg"
                      alt="Loan Agent with Complete Transparency"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Competitive Interest Rates</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/loan-partner-with-competitive-interest-rates.svg"
                      alt="Loan Partner with Competitive Interest Rates"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">
                    Tie-up with Multiple Banks at One Place
                  </h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/loan-dsa-with-multiple-banks-tie-up.svg"
                      alt="Loan DSA with Multiple Banks Tie-up"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Dedicated Customer Support</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/be-loan-partner-with-dedicated-customer-support.svg"
                      alt="Be a Loan Partner with Dedicated Customer Support"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 mt-4 mb-4 mb-md-0 item hidden">
              <div class="cardwrap">
                <div class="card">
                  <h5 class="card-title">Multiple Financial Products</h5>
                  <div class="card-img">
                    <img
                      src="assets/welcome/images/be-loan-agent-sell-multiple-financial-products.svg"
                      alt="Be a Loan Agent &amp; Sell Multiple Financial Products"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>
      <!-- Benefits Of Becoming A Loan Agent With Us? :: Ends -->

      <!-- Why DSA 360 Solution?  :: Starts -->
      <section
        id="whyuspage"
        class="trustedclient theme-02 bg-strip section-padding"
      >
        <div class="container-fluid">
          <h2 class="section-title">Why DSA 360 Solution?</h2>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/empanelled-with-20-banks-nbfcs.svg"
                  alt="Loan Agent with 20+ Banks &amp; NBFCs Empanelled"
                  class="img-fluid"
                />
                <p class="count">20+</p>
                <span class="txt">Banks &amp; NBFCs</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/2.5-lac-loan-clients.svg"
                  alt="7,50,000+ Loan Clients"
                  class="img-fluid"
                />
                <p class="count">7,50,000+</p>
                <span class="txt">Client Base</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/48-local-offices-loan-agent-support.svg"
                  alt="Loan Agent Support from 48 Local Offices"
                  class="img-fluid"
                />
                <p class="count">104+</p>
                <span class="txt">Local Offices</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/1500-loan-broker.svg"
                  alt="30,000+ Loan Broker"
                  class="img-fluid"
                />
                <p class="count">30,000+</p>
                <span class="txt">Business Partners</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/25-years-experience.svg"
                  alt="Backed by 30+ Years of Experience"
                  class="img-fluid"
                />
                <p class="count">30+</p>
                <span class="txt">Years of Experience</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/quick-loan-disbursals.svg"
                  alt="Loan DSA with Quick Loan Disbursals"
                  class="img-fluid"
                />
                <p class="count">Quick</p>
                <span class="txt">Loan Disbursals</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/pan-india-presence.svg"
                  alt="PAN India Presence"
                  class="img-fluid"
                />
                <p class="count">Presence</p>
                <span class="txt">Across India</span>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
              <div class="block dashed-bdr-box">
                <img
                  src="assets/welcome/images/low-interest-rates.svg"
                  alt="Loan Agent with Low-Interest Rates"
                  class="img-fluid"
                />
                <p class="count">Low</p>
                <span class="txt">Interest Rates</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Why DSA 360 Solution?  :: Ends -->

      <!-- How To Become An Loan Agent? :: Starts -->
      <section class="become-agent section-padding">
        <div class="container">
          <h2 class="section-title mb-4">
            How To Become A Loan Agent Online With
            <span>DSA 360 Solution</span>?
          </h2>
          <div class="row owl-carousel owl-theme" id="agentslider">
            <div class="col-md">
              <div class="icon">
                <img
                  src="assets/welcome/images/how-to-become-a-loan-agent.svg"
                  alt="How to Become a Loan Agent"
                  class="img-fluid"
                />
              </div>
              <div class="step">
                <span>Step 1</span>
              </div>
              <div class="txt">Register on DSA 360 Solution</div>
            </div>
            <div class="col-md">
              <div class="icon">
                <img
                  src="assets/welcome/images/dsa-loan-agent-registration-process.svg"
                  alt="DSA Loan Agent Registration Process"
                  class="img-fluid"
                />
              </div>
              <div class="step">
                <span>Step 2</span>
              </div>
              <div class="txt">Enter your basic information</div>
            </div>
            <div class="col-md">
              <div class="icon">
                <img
                  src="assets/welcome/images/basic-details-to-become-loan-agent.svg"
                  alt="Enter Basic Details to Become A Loan Agent"
                  class="img-fluid"
                />
              </div>
              <div class="step">
                <span>Step 3</span>
              </div>
              <div class="txt">Submit the soft copy of your identity proof</div>
            </div>
            <div class="col-md">
              <div class="icon">
                <img
                  src="assets/welcome/images/documents-to-complete-loan-dsa-registration.svg"
                  alt="Submit Documents to Complete Loan DSA Registration"
                  class="img-fluid"
                />
              </div>
              <div class="step">
                <span>Step 4</span>
              </div>
              <div class="txt">
                Once approved, you can log in and start referring
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center btn-view-more-wrap">
            <a routerLink="/dsa-registeration">
              <button class="btn btn-gradient1 agentbtn" type="button">
                Become a Loan Agent
              </button>
            </a>
          </div>
        </div>
      </section>
      <!-- How To Become An Loan Agent? :: Ends -->

      <!-- Advanced CRM Features For A Seamless Experience :: Starts -->
      <section class="become-subroker light-bg section-padding">
        <div class="container">
          <h2 class="section-title mb-4">
            Advanced CRM Features For A Seamless Experience
          </h2>
          <div class="row align-items-center">
            <div class="col-sm-5 img mt-5">
              <img
                src="assets/welcome/images/track-leads-through-loan-agent-advance-crm.svg"
                class="img-fluid"
                alt="Track Leads through Loan Agent Advance CRM"
              />
            </div>
            <div class="col-sm-7">
              <div class="listwrap mt-5 mt-md-0">
                <ul class="lists">
                  <li><span>Track and manage the lead process.</span></li>
                  <li><span>View earnings accrued.</span></li>
                  <li>
                    <span
                      >Track sales, review performance and engage with
                      customers.</span
                    >
                  </li>
                  <li>
                    <span
                      >Refer clients to other financial products
                      instantly.</span
                    >
                  </li>
                  <li>
                    <span
                      >Improves customer conversion, nurturing and retention
                      with instant data retrieval and support features.</span
                    >
                  </li>
                  <li><span>Comprehensive reports.</span></li>
                  <li><span>Advanced analytics and insights.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Advanced CRM Features For A Seamless Experience :: Ends -->

      <!-- We Are With You At Every Step! :: Starts -->
      <section class="section-padding">
        <div class="container">
          <h2 class="section-title pb-5">We Are With You At Every Step!</h2>
          <div class="row every-steps">
            <div class="col-lg-8 col-md-9 col-xs-12 mx-auto">
              <div class="row" id="trustedclient">
                <div class="col-md-6 col-xs-12">
                  <div class="block ico-block">
                    <div class="ico-sec">
                      <img
                        src="assets/welcome/images/become-loan-agent-with-local-branch-support.svg"
                        alt="Become A Loan Agent with Local Branch Support"
                        class="img-fluid"
                      />
                    </div>
                    <div class="ico-text">
                      <h3>Local Branch Support</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="block ico-block">
                    <div class="ico-sec">
                      <img
                        src="assets/welcome/images/loan-agent-with-training-sales-guidance.svg"
                        alt="Loan Agent with Training &amp; Sales Guidance"
                        class="img-fluid"
                      />
                    </div>
                    <div class="ico-text">
                      <h3>Backend and Technology Support</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="block ico-block">
                    <div class="ico-sec">
                      <img
                        src="assets/welcome/images/loan-dsa-with-backend-technology-support.svg"
                        alt="Loan DSA with Backend &amp; Technology Support"
                        class="img-fluid"
                      />
                    </div>
                    <div class="ico-text">
                      <h3>Training and Sales Guidance</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="block ico-block">
                    <div class="ico-sec">
                      <img
                        src="assets/welcome/images/be-loan-agent-get-dedicated-rm.svg"
                        alt="Be a Loan Agent &amp; Get Dedicated RM"
                        class="img-fluid"
                      />
                    </div>
                    <div class="ico-text">
                      <h3>Dedicated Relationship Manager</h3>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- We Are With You At Every Step! :: Ends -->

      <!-- Frequently Answer Questions : Starts -->
      <section class="faq-wrap section-padding has-view-more">
        <div class="container">
          <h2 class="section-title pb-5">Frequently Answer Questions</h2>
          <div class="row">
            <div class="col-md-4">
              <img
                src="assets/welcome/images/loan-agent-faqs.svg"
                alt="Loan Agent FAQs"
                class="img-fluid d-none d-md-block"
              />
            </div>
            <div class="container my-5 col-md-8">
              <div class="accordion" id="faqAccordion">
                <div *ngFor="let faq of faqs" class="card">
                  <div class="card-header">
                    <h2 class="mb-0">
                      <button class="btn btn-link" (click)="toggleFaq(faq)">
                        {{ faq.question }}
                      </button>
                    </h2>
                  </div>
                  <div
                    [ngClass]="{
                      'collapse show': faq.isOpen,
                      collapse: !faq.isOpen
                    }"
                  >
                    <div class="card-body">
                      {{ faq.answer }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Frequently Answer Questions : Starts -->

      <section class="become-loan-agent theme-02 section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-3">
              <h2 class="title pb-2">Who is a DSA Loan Agent?</h2>
              <div>
                <p>
                  A <strong>DSA Loan Agent</strong> is a Direct Selling Agent
                  who helps to secure a loan for consumers. A Loan DSA helps
                  consumers to connect with lenders, assist in the primary
                  process, collect the documents and carry out all the vital
                  aspects of money lending. They also verify the documents to
                  ensure the documents submitted by the consumers are authentic.
                  This benefits both parties involved in the entire process of
                  loans.
                  <small class="read-more"
                    >...<a href="javascript:void(0)">Read More</a></small
                  >
                </p>
              </div>
              <div class="become-loan-agent-info collapse">
                <p>
                  DSA Loan Agents are also known as Loan Agents. A
                  <strong>DSA Loan Partner</strong> receives a payout in the
                  form of a percentage of the total amount of loan and the type
                  of loan applied by the consumers. In rural areas, they are
                  also known as Business correspondents.
                </p>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="title pb-2">What Does a Loan Agent Do?</h2>
                    <p>
                      There are several banks and financial firms which appoint
                      Loan DSA’s and allow them to work at their pace and at
                      flexible hours. But appointing a Loan Agent is not a
                      salaried job for the individual. It is like
                      entrepreneurship where the individual has to have complete
                      control and willingness to work.
                    </p>
                    <p>
                      The primary role of a Loan Partner is to establish
                      professional contacts and bring leads for the
                      bank/financial firm. A Loan Partner can bring clients
                      related to mutual funds, personal loans, home loans, bank
                      loans, business loans, and other loan services.
                    </p>
                    <p>
                      They also have to collect the necessary documents and run
                      a primary check from their end. When submitting the loan
                      applications, a Loan DSA is supposed to adhere to the
                      prescribed format by the bank/financial firm. Then they
                      have to forward the request to the respective team.<br />
                      A <strong>Loan DSA Officer</strong> is also responsible
                      for providing necessary assistance to the area bank/branch
                      of the financial institution until the loan application
                      procedure is complete. This helps to save time and to
                      avail loans at a fast pace.
                    </p>
                    <p>
                      When you become a loan DSA with DSA 360 Solution you get
                      the opportunity to provide the following loan services to
                      the clients.
                    </p>
                    <ul>
                      <li>
                        <a href="/home-loan-dsa-agent">Home Loan</a>
                      </li>

                      <li>
                        <a href="/personal-loan-agent">Personal Loan</a>
                      </li>

                      <li>
                        <a href="/business-loan-dsa">Business Loan</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="title pb-2">Who Can Become A DSA Loan Agent?</h2>
                    <p>
                      Anyone above the age limit of 21+ years can become a
                      <strong>Loan DSA Partner</strong>. The individual can be a
                      working professional, a business owner, a housewife, or
                      even a student who can work as a loan partner. The most
                      important criteria for becoming a
                      <strong>DSA Loan Agent</strong> is the willingness and
                      dedication towards the role. If you wish to extend a
                      helping hand to people looking for funds and get paid for
                      that you can become a Loan Agent.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="title pb-2">
                      What Are The Benefits Of Becoming A Loan Agent?
                    </h2>
                    <p>
                      <strong>Becoming a Loan Agent</strong> can be a tedious
                      role, but it is certainly rewarding. The benefits of
                      becoming a long partner are:
                    </p>
                    <ul>
                      <li>Earn Slab wise incentives</li>
                      <li>Get Handsome Commission</li>
                      <li>Work at flexible hours</li>
                      <li>Get the freedom to develop professional contacts</li>
                      <li>Work as a part-time job for extra income</li>
                      <li>Be a part of the fast-growing finance industry</li>
                      <li>Work at the convenience of your home</li>
                      <li>Be your own boss</li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="title pb-2">How to Become A DSA Loan Agent?</h2>
                    <p>
                      It goes without saying that to become a DSA Loan Agent,
                      you have to follow some basic processes. The first step
                      starts with <strong>Loan DSA registration</strong>. Though
                      different banks, NBFCs, and lending platforms have
                      different registration requirements, however, the process
                      is quite common in most. The common steps of DSA Loan
                      registration are:
                    </p>
                    <p><strong>Loan DSA Registration Process:</strong></p>
                    <ul>
                      <li>
                        Fill the DSA Loan Agent form available on the website of
                        the financial firm/bank
                      </li>
                      <li>
                        Submit the application form online (or visit the branch
                        of the financial firm/bank)
                      </li>
                      <li>
                        The concerned department will contact you and asked to
                        submit the documents
                      </li>
                      <li>
                        After successful document verification, your credit
                        history will be checked
                      </li>
                      <li>
                        If your credit history goes well, you will be called for
                        an interview
                      </li>
                      <li>
                        You can then sign an agreement with the financial
                        firm/bank
                      </li>
                      <li>
                        Your DSA Code or license as a DSA Loan Agent will be
                        generated
                      </li>
                      <li>
                        You can then start your work as a licensed Loan partner
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="title pb-2">
                      What Kind Of Training Is Required To Become a Loan Agent?
                    </h2>
                    <p>
                      Most <strong>Loan Agent</strong>s require a bachelor’s
                      degree in business or business administration. Students
                      receive preliminary training while doing the course they
                      have enrolled for. The rest of the training starts once
                      you join the company. Most financial institutions, banks
                      offer a 20-40 hours training program that has to be
                      completed to <strong>become a Loan Agent</strong>.
                    </p>
                    <p>
                      They also prepare the applicants by giving them training
                      on how to manage potential leads, manage the information
                      of clients, underwrite loans, and comply with the laws and
                      regulations that are applicable. There is also a handbook
                      provided to the <strong>DSA Loan Partners</strong> while
                      applying to become a Loan Agent.
                    </p>
                    <small class="read-less"
                      ><a href="javascript:void(0)">Read Less</a></small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--footer-->
      <!--contact us-->
      <section class="contact-w" id="contact-w" data-anchor="contact_us">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="add-w">
                <h2 class="title">Contact us</h2>
                <div class="d-flex pb-3 align-item-start">
                  <img
                    class="pr-4"
                    src="assets/welcome/images/Address.svg"
                    alt="DSA 360 Solution Address"
                  />
                  <p>
                    DSA 360 Solutions Private Limited, Sunil Patodia
                    Tower, J.B. Nagar, Andheri (East), Mumbai 400099.
                  </p>
                </div>
                <a
                  href="https://api.whatsapp.com/send?phone=7020192726"
                  target="_blank"
                  class="d-flex pb-3 align-item-start"
                  rel="noopener"
                >
                  <img
                    class="pr-4"
                    src="assets/welcome/images/Phone.svg"
                    alt="DSA 360 Solution Contact Number"
                  />
                  <p>+91- 7020192726</p>
                </a>
                <a
                  href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=support@choiceconnect.in"
                  target="_blank"
                  class="d-flex pb-3 align-item-start"
                  rel="noopener"
                >
                  <img
                    class="pr-3 mail"
                    src="assets/welcome/images/Mail.svg"
                    alt="Connect Us through Email"
                  />
                </a>
              </div>
              <div class="social-icon d-flex pt-3 ml-5">
                <a
                  href="https://www.youtube.com/channel/UCy3RBk3rrAq3T3sJv_k9jJQ?view_as=subscriber%3Fsub_confirmation%3D1"
                  target="_blank"
                  rel="noopener"
                  ><img
                    class="pr-3"
                    src="assets/welcome/images/Youtube.svg"
                    alt="Subscribe to DSA 360 Solution on YouTube"
                /></a>
                <a
                  href="https://www.facebook.com/ChoiceConnectOfficial"
                  target="_blank"
                  rel="noopener"
                  ><img
                    class="pr-3"
                    src="assets/welcome/images/Facebook.svg"
                    alt="Follow DSA 360 Solution on Facebook"
                /></a>
                <a
                  href="https://twitter.com/choiceconnect1"
                  target="_blank"
                  rel="noopener"
                  ><img
                    class="pr-3"
                    src="assets/welcome/images/Twitter.png"
                    alt="Follow DSA 360 Solution on Twitter"
                /></a>
                <a
                  href="https://www.instagram.com/choice_connect_official/"
                  target="_blank"
                  rel="noopener"
                  ><img
                    class="pr-3"
                    src="assets/welcome/images/Instagram.png"
                    alt="Follow DSA 360 Solution on Instagram"
                /></a>
              </div>
            </div>
            <div class="col-md-8 col-sm-12 getin-w" style="display: block">
              <h6>Get in touch</h6>
              <form id="contact-us" method="POST" action="">
                <div class="row">
                  <input
                    type="hidden"
                    name="_token"
                    value="CyYi6SJWBAqj7BOeiZ2HBzN6LYA2Yvacv9A7TtML"
                  />
                  <div class="col-md-4">
                    <div class="form-group">
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        placeholder="Name*"
                      />
                      <!--<small class="form-text text-muted">error msg</small>-->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input
                        type="tel"
                        name="mobile_number"
                        class="form-control"
                        placeholder="Mobile No.*"
                      />
                      <!--<small class="form-text text-muted">error msg</small>-->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Email ID*"
                      />
                      <!--<small class="form-text text-muted">error msg</small>-->
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea
                        name="message"
                        class="form-control"
                        placeholder="Message"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <div class="g-recaptcha" data-sitekey=""></div>
                      <input
                        class="form-control d-none"
                        data-recaptcha="true"
                        required=""
                        data-error="Please complete the Captcha"
                      />
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="margin-left-auto col-md-3">
                    <button class="btn btn-outline" type="submit">
                      GET STARTED
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- end contact us-->
      <!--copy right-->
      <section
        class="copy-right-w"
        style="background: #2d2d2d; padding: 1.5rem 0; color: #ffffff"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12 footer-w">
              <div class="col-xs-12">
                © {{ currentYear }} DSA 360 Solutions Private Limited
              </div>
              <div class="margin-left-auto col-xs-12">
                <!--<span class="xs-pl0">Privacy</span>
                    <span>Accessibility</span>-->
                <a href="/terms" target="_blank" rel="noopener"
                  >Term &amp; Conditions</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="exit-intent-sleekbox-overlay">
        <div class="exit-intent-sleekbox-popup">
          <div class="popup-sub-row">
            <div class="leftwrap">
              <div class="closedesk">
                <img
                  src="assets/welcome/images/closedesk.svg"
                  class="closeimg"
                  alt="Close Desk"
                />
              </div>
              <img
                src="assets/welcome/images/map.svg"
                class="mapimg"
                alt="DSA 360 Solution Business Partners All Over India"
              />
            </div>
            <div class="popup-sub-right">
              <div class="close">
                <img src="assets/welcome/images/close.svg" alt="Close Button" />
              </div>
              <div class="text">
                <p class="count">30,000+</p>
                <p class="subtext">people have joined us!</p>
                <p class="subline">
                  Start your journey with <strong>DSA 360 Solution </strong>and
                  Grow your income
                </p>
              </div>
              <div class="btnwrap">
                <a href="/register" class="sleekbox-btn"> Start Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--end copy right-->
      <div
        class="modal"
        tabindex="-1"
        role="dialog"
        id="otpModal"
        data-backdrop="static"
      >
        <div class="model-dialog">
          <div class="model-content">
            <div class="model-header">
              <h5 class="model-title">Enter OTP</h5>
              <button
                type="button"
                class="close"
                onclick="form_reset()"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">X</span>
              </button>
            </div>
            <br />
            <div class="model-body text-center">
              <form
                method="get"
                id="focampaign_otp_form"
                data-group-name="digits"
                data-autosubmit="false"
                autocomplete="off"
              >
                <input
                  id="session_id"
                  name="session_id"
                  type="hidden"
                  required=""
                />
                <div class="otp-group otp">
                  <input
                    type="tel"
                    id="digit-1"
                    class="form-control"
                    name="digit-1"
                    data-next="digit-2"
                  />
                  <input
                    type="tel"
                    id="digit-2"
                    class="form-control"
                    name="digit-2"
                    data-next="digit-3"
                    data-previous="digit-1"
                  />
                  <input
                    type="tel"
                    id="digit-3"
                    class="form-control"
                    name="digit-3"
                    data-next="digit-4"
                    data-previous="digit-2"
                  />
                  <input
                    type="tel"
                    id="digit-4"
                    class="form-control"
                    name="digit-4"
                    data-next="digit-5"
                    data-previous="digit-3"
                  />
                  <input
                    type="tel"
                    id="digit-5"
                    class="form-control"
                    name="digit-5"
                    data-next="digit-6"
                    data-previous="digit-4"
                  />
                  <input
                    type="tel"
                    id="digit-6"
                    class="form-control"
                    name="digit-6"
                    data-previous="digit-5"
                  />
                </div>
                <div id="msg_div">
                  <span class="inval_otp" style="color: red"></span>
                  <p id="resend_otp" style="color: green"></p>
                </div>
                <div class="model-btn">
                  <a href="#" id="resend" class="mt-4 d-block resend-btn"
                    >Resend OTP</a
                  >
                  <br />
                  <button
                    type="button"
                    id="btn_submit1"
                    class="btn btn-gradient1 p-3"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="thankYou" tabindex="-1" aria-hidden="true">
      <div class="model-dialog" role="document">
        <div class="model-content" style="background-color: #fff">
          <div class="model-header">
            <h5 class="model-title text-center" id="responseMsg"></h5>
            <button type="button" class="close" data-dismiss="modal">X</button>
            <button id="campaign-success" style="display: none"></button>
          </div>
          <div class="model-body">
            <img
              id="otp-Thanks"
              src="assets/welcome/images/thanku-banner.svg"
              alt="Thank for Becoming DSA 360 Solution CBA"
            />
            <p class="text-center">
              All Done! Thanks, a Connect Executive will get in touch soon
            </p>
            <p hidden="" id="onboarding-url"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!--end footer-->
