.form-section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
.form-header {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.form-group label {
  font-weight: bold;
}

.scrollable-form {
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
}
select[multiple] {
  height: auto;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

select[multiple]:focus {
  size: 5; /* Adjust this number based on how many options you want visible at once */
}
